<h1>登陆界面</h1>
<%= form_tag "/create_login_session" do %>
    <dl class="form">
      <dt>
        <%= label_tag "用户名" %>
      </dt>
      <dd class="user_name_box">
        <%= text_field_tag :name, params[:name] %>
      </dd>
    </dl>
    <dl class="form">
      <dt>
        <%= label_tag "密码" %>
      </dt>
      <dd class="user_name_box">
        <%= password_field_tag :password, params[:password] %>
      </dd>
    </dl>
    <p class="landing_bnt"> <%= submit_tag "登录", :class => "button primary" %> </p>
<% end %>
<button onclick="open_register()">注册</button>