

<%= form_for :user do |f| %>
    <h1>注册</h1>
    <dl class="form">
      <dt><%= f.label :姓名 %></dt>
      <dd><%= f.text_field :name %></dd>
    </dl>
    <dl class="form">
      <dt> <%= f.label :密码 %> </dt>
      <dd> <%= f.password_field :password %> </dd>
    </dl>
    <dl class="form">
      <dt> <%= f.label :确认密码 %> </dt>
      <dd> <%= f.password_field :password_digest %> </dd>
    </dl>
    <dl class="form">
      <dt> <%= f.label :角色 %> </dt>
      <dd><%= f.select :role ,['学生','老师'] %></dd>
    </dl>
    <p><%= f.submit "注册" %></p>
<% end %>