<div class="title"><h1>注册</h1></div>
<div class="Login_information">
<%= form_for :user do |f| %>

    <dl class="form">
      <dt class="Writing_style"><%= f.label :姓名 %></dt>
      <dd class="user_name_box"><%= f.text_field :name %></dd>
      <%if session[:warning]%>
        <%= session[:warning] %>
      <%end%>
    </dl>
    <dl class="form">
      <dt class="Writing_style"> <%= f.label :密码 %> </dt>
      <dd class="user_name_box"> <%= f.password_field :password %> </dd>
    </dl>
    <dl class="form">
      <dt class="Writing_style"> <%= f.label :确认密码 %> </dt>
      <dd class="user_name_box"> <%= f.password_field :password_digest %> </dd>
    </dl>
    <p><%= f.submit "注册" %></p>
<% end %>
    </div>